body{
    text-align: center;
    font-size: 30px
}

.borda {
    width: 70%;
}

.logoCanto{
    float: right;
    width: 10%;
    margin-right: 15%;
}

.logoGrande {
    width: 30%;
}

.h1{
    font-size: 300%
}

input[type=text]:focus {
  border: 2px solid black;
  border-radius: 4px;
  height: 50%;
}

input[type= submit]{
    border: 2px solid rgb(59, 57, 57);
    height: 70%;
}

#informacoes{
    display: flex;
    justify-content: space-around;
}

#informacoes2{
    display: flex;
    justify-content: space-around;
}

#informacoes3{
    display: flex;
    justify-content: space-around;
}

.gatoperfil{
    width: 12%;
}

.logoAdmin{
    text-align: center;
    width: 20%;
}

.animais{
    width: 300px;
}

h3{
    font-size: 120%
   
}

.botão{
    width: 200px;
    height: 40px;
}
