body{
    text-align: center;
    font-size: 30px;
}

.MATCHPET{
    width: 30%;
}
.borda{
    width: 70%;
}

.gato{
    width: 20%;
}
.h1{
    font-size: 300%;
}
.logo{
    width: 10%;
    float: right;

    
}