body{
    text-align: center;
    font-size: 30px
}

.borda {
    width: 70%;
}

h2{
    font-size: 100%
   
}

img{
    width: 300px;
}

button{
    width: 200px;
    height: 40px;
}

div{
   display: inline;

}